{{ define "main" }}
<section class="page-header">
    <div class="container">
        <h1 data-pagefind-body data-pagefind-weight="10" data-pagefind-meta="title">{{ .Title }}</h1>
        <nav aria-label="Breadcrumb">
            <ol class="breadcrumb">
                <li><a href="{{ .Site.Home.RelPermalink }}">{{ i18n "home" }}</a></li>
                
                {{ range .Ancestors.Reverse }}
                    {{ if and .Title (ne . $.Site.Home) }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                {{ end }}
                
                <li>{{ .Title }}</li>
            </ol>
        </nav>
    </div>
</section>

<div class="content-wrapper">
    <div class="container">
        <article class="article-content" data-pagefind-body>
            {{ .Content }}
        </article>
    </div>
</div>
{{ end }}